In [1]:
!pip install gdown

Requirement already satisfied: gdown in c:\users\yoges\anaconda3\lib\site-packages (5.2.0)
Requirement already satisfied: beautifulsoup4 in c:\users\yoges\anaconda3\lib\site-packages (from gdown) (4.12.3)
Requirement already satisfied: filelock in c:\users\yoges\anaconda3\lib\site-packages (from gdown) (3.13.1)
Requirement already satisfied: requests[socks] in c:\users\yoges\anaconda3\lib\site-packages (from gdown) (2.32.3)
Requirement already satisfied: tqdm in c:\users\yoges\anaconda3\lib\site-packages (from gdown) (4.66.4)
Requirement already satisfied: soupsieve>1.2 in c:\users\yoges\anaconda3\lib\site-packages (from beautifulsoup4->gdown) (2.5)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\yoges\anaconda3\lib\site-packages (from requests[socks]->gdown) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\yoges\anaconda3\lib\site-packages (from requests[socks]->gdown) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\yoges\anaconda3\lib\site-packages (from requests[socks]->gdown) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\yoges\anaconda3\lib\site-packages (from requests[socks]->gdown) (2024.7.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\users\yoges\anaconda3\lib\site-packages (from requests[socks]->gdown) (1.7.1)
Requirement already satisfied: colorama in c:\users\yoges\anaconda3\lib\site-packages (from tqdm->gdown) (0.4.6)

In [3]:
from collections import defaultdict
import json, math, gdown
import numpy as np
import pandas as pd
import plotly.express as px
from tqdm import tqdm
import requests
pd.options.display.float_format = '{:.2f}'.format

# We use the latest data
url = "https://storage.googleapis.com/arena_external_data/public/clean_battle_20240814_public.json"
response = requests.get(url)

# Define the local path where you want to save the JSON and CSV files
json_file_path = 'local_file_name.json'
csv_file_path = 'battles_data.csv'

# Save the content to a local JSON file
with open(json_file_path, 'wb') as file:
    file.write(response.content)

# Load the JSON data into a pandas DataFrame and sort it
# Use encoding='utf-8' to avoid UnicodeDecodeError
with open(json_file_path, 'r', encoding='utf-8') as file:
    battles = pd.read_json(file).sort_values(ascending=True, by=["tstamp"])

# Save the DataFrame to a CSV file in the same folder
battles.to_csv(csv_file_path, index=False)

print(f"Data has been saved to '{csv_file_path}'")

Data has been saved to 'battles_data.csv'

Here, we have fetched the latest battle data from the external source using the `requests` library. We first saved the JSON to a local file by the name `local_file_name.json`. Then, we loaded this JSON into a pandas DataFrame and sorted it according to the timestamp, `tstamp`, in ascending order. After sorting, we saved the DataFrame as a CSV file named `battles_data.csv`. The verification at the end demonstrates once more that the data has been saved to the necessary file for further analysis.

In [106]:
import pandas as pd
df = pd.read_csv("battles_data.csv")
df.head()

,model_a,model_b,winner,judge,turn,anony,language,tstamp,conv_metadata,is_code,is_refusal,dedup_tag,category_tag
0,chatglm-6b,koala-13b,model_b,2e9c29aa140b8e50643235eab01dc9ea,1,True,English,1.682352e+09,"{'sum_user_tokens': 10, 'sum_assistant_a_token...",True,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': False, 'score': 1}, 'math_v..."
1,oasst-pythia-12b,alpaca-13b,tie,2e9c29aa140b8e50643235eab01dc9ea,1,True,English,1.682352e+09,"{'sum_user_tokens': 11, 'sum_assistant_a_token...",False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': False, 'score': 0}, 'math_v..."
2,koala-13b,oasst-pythia-12b,model_b,2e9c29aa140b8e50643235eab01dc9ea,1,True,English,1.682352e+09,"{'sum_user_tokens': 10, 'sum_assistant_a_token...",False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': False, 'score': 0}, 'math_v..."
3,vicuna-13b,oasst-pythia-12b,model_b,2e9c29aa140b8e50643235eab01dc9ea,1,True,English,1.682352e+09,"{'sum_user_tokens': 9, 'sum_assistant_a_tokens...",False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': False, 'score': 1}, 'math_v..."
4,vicuna-13b,koala-13b,model_a,2e9c29aa140b8e50643235eab01dc9ea,1,True,English,1.682352e+09,"{'sum_user_tokens': 5, 'sum_assistant_a_tokens...",False,True,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': False, 'score': 0}, 'math_v..."

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1799991 entries, 0 to 1799990
Data columns (total 13 columns):
 #   Column         Dtype
---  ------         -----
 0   model_a        object
 1   model_b        object
 2   winner         object
 3   judge          object
 4   turn           int64
 5   anony          bool
 6   language       object
 7   tstamp         float64
 8   conv_metadata  object
 9   is_code        bool
 10  is_refusal     bool
 11  dedup_tag      object
 12  category_tag   object
dtypes: bool(3), float64(1), int64(1), object(8)
memory usage: 142.5+ MB

In [108]:
# Convert 'tstamp' to datetime and then to the desired format
df['tstamp'] = pd.to_datetime(df['tstamp'], unit='s').dt.strftime('%Y-%m-%d')
print(df[['tstamp']].head())

       tstamp
0  2023-04-24
1  2023-04-24
2  2023-04-24
3  2023-04-24
4  2023-04-24

This cell converts Unix timestamps in seconds into a more readable date format (YYYY-MM-DD) for easier analysis in a DataFrame. for instance 1609459200 this will represent in this format 2021-01-01

In [109]:
df.head()

,model_a,model_b,winner,judge,turn,anony,language,tstamp,conv_metadata,is_code,is_refusal,dedup_tag,category_tag
0,chatglm-6b,koala-13b,model_b,2e9c29aa140b8e50643235eab01dc9ea,1,True,English,2023-04-24,"{'sum_user_tokens': 10, 'sum_assistant_a_token...",True,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': False, 'score': 1}, 'math_v..."
1,oasst-pythia-12b,alpaca-13b,tie,2e9c29aa140b8e50643235eab01dc9ea,1,True,English,2023-04-24,"{'sum_user_tokens': 11, 'sum_assistant_a_token...",False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': False, 'score': 0}, 'math_v..."
2,koala-13b,oasst-pythia-12b,model_b,2e9c29aa140b8e50643235eab01dc9ea,1,True,English,2023-04-24,"{'sum_user_tokens': 10, 'sum_assistant_a_token...",False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': False, 'score': 0}, 'math_v..."
3,vicuna-13b,oasst-pythia-12b,model_b,2e9c29aa140b8e50643235eab01dc9ea,1,True,English,2023-04-24,"{'sum_user_tokens': 9, 'sum_assistant_a_tokens...",False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': False, 'score': 1}, 'math_v..."
4,vicuna-13b,koala-13b,model_a,2e9c29aa140b8e50643235eab01dc9ea,1,True,English,2023-04-24,"{'sum_user_tokens': 5, 'sum_assistant_a_tokens...",False,True,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': False, 'score': 0}, 'math_v..."

In [110]:
# First, convert 'tstamp' back to datetime if necessary
df['tstamp'] = pd.to_datetime(df['tstamp'])
# Create a new column for 'month-year'
df['month_year'] = df['tstamp'].dt.to_period('M')
# Get unique month-year combinations
unique_month_years = df['month_year'].unique()
# Convert to a list
unique_month_years_list = unique_month_years.tolist()
# Display the list of unique month-year combinations
print(unique_month_years_list)

[Period('2023-04', 'M'), Period('2023-05', 'M'), Period('2023-06', 'M'), Period('2023-07', 'M'), Period('2023-08', 'M'), Period('2023-09', 'M'), Period('2023-10', 'M'), Period('2023-11', 'M'), Period('2023-12', 'M'), Period('2024-01', 'M'), Period('2024-02', 'M'), Period('2024-03', 'M'), Period('2024-04', 'M'), Period('2024-05', 'M'), Period('2024-06', 'M'), Period('2024-07', 'M'), Period('2024-08', 'M')]

First, we convert the 'tstamp' column to a proper datetime format using pd.to_datetime. Then, we create a new column, called 'month_year', which extracts the month and year from the timestamp and stores it as a period, say '2024-08'. We then fetch all the unique month-year combinations and convert them into a list. Finally, for further use or analysis, this list of unique month-year combinations is displayed.

In [111]:
# First, ensure the 'tstamp' column is in datetime format
df['tstamp'] = pd.to_datetime(df['tstamp'])

# Filter the DataFrame for rows where the year is 2024 and the month is August (8)
filtered_df = df[(df['tstamp'].dt.year == 2024) & (df['tstamp'].dt.month == 8)]
filtered_df.head()

,model_a,model_b,winner,judge,turn,anony,language,tstamp,conv_metadata,is_code,is_refusal,dedup_tag,category_tag,month_year
1707280,llama-3.1-405b-instruct,llama-3.1-70b-instruct,tie,6e29560cadd24f4bfa94723fcfcc54e4,1,True,English,2024-08-01,"{'sum_user_tokens': 12, 'sum_assistant_a_token...",False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': False, 'score': 1}, 'math_v...",2024-08
1707281,claude-3-5-sonnet-20240620,claude-3-opus-20240229,tie,7440d4d12c5d0756057ed03130fda627,1,True,English,2024-08-01,"{'sum_user_tokens': 36, 'sum_assistant_a_token...",False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': True, 'score': 4}, 'math_v0...",2024-08
1707282,gpt-4-0125-preview,reka-flash-20240722,model_a,abdde4ffaa63a540affd1bf305666749,1,True,English,2024-08-01,"{'sum_user_tokens': 19, 'sum_assistant_a_token...",True,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': True, 'score': 4}, 'math_v0...",2024-08
1707283,llama-3.1-8b-instruct,mixtral-8x22b-instruct-v0.1,tie (bothbad),c1df359c04bd242b4bb43112d74c4157,1,True,Russian,2024-08-01,"{'sum_user_tokens': 17, 'sum_assistant_a_token...",False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': False, 'score': 1}, 'math_v...",2024-08
1707284,llama-3.1-70b-instruct,gpt-4o-2024-05-13,model_a,8228662bbdbba58df17fdd9668dc3071,1,True,Spanish,2024-08-01,"{'sum_user_tokens': 618, 'sum_assistant_a_toke...",False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': True, 'score': 4}, 'math_v0...",2024-08

First, we convert the 'tstamp' column to a proper datetime format using pd.to_datetime. Then, we create a new column, called 'month_year', which extracts the month and year from the timestamp and stores it as a period, say '2024-08'. We then fetch all the unique month-year combinations and convert them into a list. Finally, for further use or analysis, this list of unique month-year combinations is displayed:

In [112]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 92711 entries, 1707280 to 1799990
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   model_a        92711 non-null  object
 1   model_b        92711 non-null  object
 2   winner         92711 non-null  object
 3   judge          92711 non-null  object
 4   turn           92711 non-null  int64
 5   anony          92711 non-null  bool
 6   language       92711 non-null  object
 7   tstamp         92711 non-null  datetime64[ns]
 8   conv_metadata  92711 non-null  object
 9   is_code        92711 non-null  bool
 10  is_refusal     92711 non-null  bool
 11  dedup_tag      92711 non-null  object
 12  category_tag   92711 non-null  object
 13  month_year     92711 non-null  period[M]
dtypes: bool(3), datetime64[ns](1), int64(1), object(8), period[M](1)
memory usage: 8.8+ MB

In [113]:
# Extract unique dates from the 'tstamp' column in the filtered DataFrame
unique_dates = filtered_df['tstamp'].dt.date.unique()

# Convert the unique dates to a list
unique_dates_list = unique_dates.tolist()

# Display the list of unique dates
print(unique_dates_list)

[datetime.date(2024, 8, 1), datetime.date(2024, 8, 2), datetime.date(2024, 8, 3), datetime.date(2024, 8, 4), datetime.date(2024, 8, 5), datetime.date(2024, 8, 6), datetime.date(2024, 8, 7), datetime.date(2024, 8, 8), datetime.date(2024, 8, 9), datetime.date(2024, 8, 10), datetime.date(2024, 8, 11), datetime.date(2024, 8, 12), datetime.date(2024, 8, 13), datetime.date(2024, 8, 14)]

Here, we will extract the unique dates in the 'tstamp' column from the filtered DataFrame by changing the datetime values to date format. We then convert these unique dates into a list and display the list of unique dates for further analysis or use.

In [114]:
from datetime import datetime

# Define the dates to exclude
dates_to_exclude = [datetime(2024, 8, 1).date(), 
                    datetime(2024, 8, 2).date(), 
                    datetime(2024, 8, 3).date()]

# Filter the DataFrame to exclude rows with the specified dates
filtered_excluded_df = filtered_df[~filtered_df['tstamp'].dt.date.isin(dates_to_exclude)]
filtered_excluded_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74025 entries, 1725966 to 1799990
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   model_a        74025 non-null  object
 1   model_b        74025 non-null  object
 2   winner         74025 non-null  object
 3   judge          74025 non-null  object
 4   turn           74025 non-null  int64
 5   anony          74025 non-null  bool
 6   language       74025 non-null  object
 7   tstamp         74025 non-null  datetime64[ns]
 8   conv_metadata  74025 non-null  object
 9   is_code        74025 non-null  bool
 10  is_refusal     74025 non-null  bool
 11  dedup_tag      74025 non-null  object
 12  category_tag   74025 non-null  object
 13  month_year     74025 non-null  period[M]
dtypes: bool(3), datetime64[ns](1), int64(1), object(8), period[M](1)
memory usage: 7.0+ MB

In this cell the code imports the datetime module, where it  exclude the specific date from a DataFrame, and filters that DataFrame to remove any rows that contain these excluded dates. The certain dates that are August 1, 2, 3 in 2024 are  omitted from analysis while the data includes only the time period betweeen Aug 4 to 14 in 2024.

In [115]:
filtered_excluded_df = filtered_excluded_df.drop(['judge'],axis=1)
filtered_excluded_df = filtered_excluded_df.drop(['anony'],axis=1)

This cells the two lines of code are used to remove the columns judge and anony from the dataset because columns judge and anony unnecessary columns so we preprocessed to clean up the DataFrame

In [116]:
filtered_excluded_df

,model_a,model_b,winner,turn,language,tstamp,conv_metadata,is_code,is_refusal,dedup_tag,category_tag,month_year
1725966,claude-3-opus-20240229,gemma-2-2b-it,model_b,1,French,2024-08-04,"{'sum_user_tokens': 19, 'sum_assistant_a_token...",False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': True, 'score': 4}, 'math_v0...",2024-08
1725967,reka-core-20240722,athene-70b-0725,model_b,3,English,2024-08-04,"{'sum_user_tokens': 51, 'sum_assistant_a_token...",False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': True, 'score': 4}, 'math_v0...",2024-08
1725968,athene-70b-0725,llama-3.1-70b-instruct,model_a,6,Italian,2024-08-04,"{'sum_user_tokens': 472, 'sum_assistant_a_toke...",False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': False, 'score': 0}, 'math_v...",2024-08
1725969,llama-3-70b-instruct,llama-3.1-8b-instruct,model_a,2,English,2024-08-04,"{'sum_user_tokens': 84, 'sum_assistant_a_token...",False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': True, 'score': 4}, 'math_v0...",2024-08
1725970,llama-3.1-70b-instruct,gpt-4-turbo-2024-04-09,model_b,1,French,2024-08-04,"{'sum_user_tokens': 29, 'sum_assistant_a_token...",False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': False, 'score': 1}, 'math_v...",2024-08
...,...,...,...,...,...,...,...,...,...,...,...,...
1799986,llama-3-8b-instruct,chatgpt-4o-latest,model_a,1,English,2024-08-14,"{'sum_user_tokens': 18, 'sum_assistant_a_token...",False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': False, 'score': 1}, 'math_v...",2024-08
1799987,gpt-4o-2024-08-06,claude-3-5-sonnet-20240620,model_a,1,Russian,2024-08-14,"{'sum_user_tokens': 436, 'sum_assistant_a_toke...",False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': False, 'score': 3}, 'math_v...",2024-08
1799988,llama-3.1-8b-instruct,reka-flash-20240722,tie (bothbad),1,Polish,2024-08-14,"{'sum_user_tokens': 28, 'sum_assistant_a_token...",False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': False, 'score': 2}, 'math_v...",2024-08
1799989,gemini-1.5-pro-api-0514,claude-3-haiku-20240307,model_a,2,English,2024-08-14,"{'sum_user_tokens': 42, 'sum_assistant_a_token...",False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': False, 'score': 1}, 'math_v...",2024-08
1799990,llama-3.1-405b-instruct,claude-3-5-sonnet-20240620,tie (bothbad),1,English,2024-08-14,"{'sum_user_tokens': 8, 'sum_assistant_a_tokens...",False,True,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': False, 'score': 1}, 'math_v...",2024-08

In [117]:
# Step 1: Create 'winner_model' column
filtered_excluded_df['model'] = filtered_excluded_df.apply(
    lambda row: row['model_a'] if row['winner'] == 'model_a' else row['model_b'], axis=1
)

# Step 2: Drop the specified columns
df_cleaned = filtered_excluded_df.drop(['model_a', 'model_b', 'winner'], axis=1)
df_cleaned.head().style.hide(axis="index")     # Step 2: Drop the specified columns
df_cleaned = filtered_excluded_df.drop(['model_a', 'model_b', 'winner'], axis=1)
df_cleaned.head().style.hide(axis="index")

This code creates a new column called 'winner_model', which selects either the 'model_a' or 'model_b' depending on who was the winner. Then, it removes the columns 'model_a', 'model_b', and 'winner' because they are not needed once the column 'winner_model' has been created. The cleaned DataFrame is then returned without showing the index.

In [118]:
def extract_conv_metadata(row):
    metadata = ast.literal_eval(row['conv_metadata'])  # Safely evaluate the string representation of a dictionary

    # Determine the winner model's assistant tokens and context tokens
    winner_model = row['model']
    if winner_model == 'model_a':
        sum_assistant_tokens = metadata['sum_assistant_a_tokens']
        context_tokens = metadata['context_a_tokens']
    else:  # winner_model == 'model_b'
        sum_assistant_tokens = metadata['sum_assistant_b_tokens']
        context_tokens = metadata['context_b_tokens']

    return pd.Series({
        'sum_user_tokens': metadata['sum_user_tokens'],
        'sum_assistant_tokens': sum_assistant_tokens,
        'context_tokens': context_tokens
    })

# Apply the function to the DataFrame
conv_metadata_df = df_cleaned.apply(extract_conv_metadata, axis=1)

# Join the new columns with the original DataFrame
df_cleaned = df_cleaned.join(conv_metadata_df)

# Drop the original conv_metadata column
df_cleaned.drop('conv_metadata', axis=1, inplace=True)

# Display the updated DataFrame without the index
df_cleaned.head().style.hide(axis="index")

Here we define a function, extract_conv_metadata, that does safe parsing on 'conv_metadata'. Then, it extracts the appropriate token information for the winning model through user tokens, assistant tokens, and context tokens. We use this function to apply to every row in the DataFrame and create new columns out of the metadata extracted. Finally, we join these new columns with the original DataFrame, drop the original 'conv_metadata' column, and display the updated DataFrame without the index.

In [119]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74025 entries, 1725966 to 1799990
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   turn                  74025 non-null  int64
 1   language              74025 non-null  object
 2   tstamp                74025 non-null  datetime64[ns]
 3   is_code               74025 non-null  bool
 4   is_refusal            74025 non-null  bool
 5   dedup_tag             74025 non-null  object
 6   category_tag          74025 non-null  object
 7   month_year            74025 non-null  period[M]
 8   model                 74025 non-null  object
 9   sum_user_tokens       74025 non-null  int64
 10  sum_assistant_tokens  74025 non-null  int64
 11  context_tokens        74025 non-null  int64
dtypes: bool(2), datetime64[ns](1), int64(4), object(4), period[M](1)
memory usage: 6.4+ MB

In [120]:
df_cleaned = df_cleaned[df_cleaned['language'] != 'unknown']
df_cleaned.head().style.hide(axis="index")

Here, we filtered the DataFrame for those rows for which 'language' does not equal 'unknown'. Then, we display this updated DataFrame without showing an index to make certain that we retain only entries of known languages going forward.

In [121]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 71695 entries, 1725966 to 1799990
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   turn                  71695 non-null  int64
 1   language              71695 non-null  object
 2   tstamp                71695 non-null  datetime64[ns]
 3   is_code               71695 non-null  bool
 4   is_refusal            71695 non-null  bool
 5   dedup_tag             71695 non-null  object
 6   category_tag          71695 non-null  object
 7   month_year            71695 non-null  period[M]
 8   model                 71695 non-null  object
 9   sum_user_tokens       71695 non-null  int64
 10  sum_assistant_tokens  71695 non-null  int64
 11  context_tokens        71695 non-null  int64
dtypes: bool(2), datetime64[ns](1), int64(4), object(4), period[M](1)
memory usage: 6.2+ MB

In [122]:
# Create a list of unique models
unique_models = df_cleaned['model'].unique().tolist()

# Get the length of the list
length_of_unique_models = len(unique_models)

# Display the list and its length
print(unique_models)
print("Length of unique models:", length_of_unique_models)

['gemma-2-2b-it', 'athene-70b-0725', 'llama-3-70b-instruct', 'gpt-4-turbo-2024-04-09', 'llama-3.1-8b-instruct', 'gpt-4-1106-preview', 'gemini-advanced-0514', 'gemini-1.5-pro-exp-0801', 'gemma-2-27b-it', 'claude-3-5-sonnet-20240620', 'mistral-large-2407', 'llama-3.1-70b-instruct', 'gemini-1.5-pro-api-0514', 'gemini-1.5-flash-api-0514', 'llama-3.1-405b-instruct', 'gpt-4-0125-preview', 'reka-core-20240722', 'reka-flash-20240722', 'gpt-4o-mini-2024-07-18', 'deepseek-v2-api-0628', 'claude-3-opus-20240229', 'mixtral-8x7b-instruct-v0.1', 'phi-3-medium-4k-instruct', 'llama-3-8b-instruct', 'gpt-4o-2024-05-13', 'gemma-2-9b-it', 'deepseek-coder-v2-0724', 'phi-3-mini-4k-instruct-june-2024', 'claude-3-haiku-20240307', 'qwen2-72b-instruct', 'mixtral-8x22b-instruct-v0.1', 'gpt-4-0613', 'chatgpt-4o-latest', 'gpt-4o-2024-08-06']
Length of unique models: 34

Here, we will be able to get the unique models by pulling a list of unique values from the 'model' column in the DataFrame. Then we are going to find a length of this list, which is going to give us a total count of unique models. Now we print both the list of unique models and its length for the user to analyze further.

In [123]:
df_cleaned.head().style.hide(axis="index")

In [124]:
# Define a function to extract the 'high_freq' and 'sampled' values from 'dedup_tag'
def extract_dedup_tag(row):
    # Safely evaluate the string as a dictionary
    dedup_data = ast.literal_eval(row)
    return pd.Series({
        'dedup_tag_high_freq': dedup_data.get('high_freq', None),
        'dedup_tag_sampled': dedup_data.get('sampled', None),
    })

# Apply the function to each row in the 'dedup_tag' column
df_cleaned[['dedup_tag_high_freq', 'dedup_tag_sampled']] = df_cleaned['dedup_tag'].apply(extract_dedup_tag)

# Drop the 'dedup_tag' column as it's no longer needed
# df_cleaned.drop('dedup_tag', axis=1, inplace=True)

# Display the first few rows to verify
df_cleaned.head()

,turn,language,tstamp,is_code,is_refusal,dedup_tag,category_tag,month_year,model,sum_user_tokens,sum_assistant_tokens,context_tokens,dedup_tag_high_freq,dedup_tag_sampled
1725966,1,French,2024-08-04,False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': True, 'score': 4}, 'math_v0...",2024-08,gemma-2-2b-it,19,328,19,False,True
1725967,3,English,2024-08-04,False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': True, 'score': 4}, 'math_v0...",2024-08,athene-70b-0725,51,1846,1434,False,True
1725968,6,Italian,2024-08-04,False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': False, 'score': 0}, 'math_v...",2024-08,athene-70b-0725,472,3504,3396,False,True
1725969,2,English,2024-08-04,False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': True, 'score': 4}, 'math_v0...",2024-08,llama-3-70b-instruct,84,1047,580,False,True
1725970,1,French,2024-08-04,False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': False, 'score': 1}, 'math_v...",2024-08,gpt-4-turbo-2024-04-09,29,556,29,False,True

Here, we define a function `extract_dedup_tag`, which safely evaluates the column `'dedup_tag'` to extract the values for key `'high_freq'` and `'sampled'`. Then, we apply this function onto every row of column `'dedup_tag'`, creating two new columns: `'dedup_tag_high_freq'` and `'dedup_tag_sampled'`. Later, we do not need `'dedup_tag'`, and hence we print the updated DataFrame.

In [125]:
df_cleaned.shape

(71695, 14)

In [126]:
df_cleaned.describe()

,turn,tstamp,sum_user_tokens,sum_assistant_tokens,context_tokens
count,71695.000000,71695,71695.000000,71695.000000,71695.000000
mean,1.318376,2024-08-08 22:08:26.847060224,247.751782,617.377725,407.912086
min,1.000000,2024-08-04 00:00:00,1.000000,1.000000,1.000000
25%,1.000000,2024-08-07 00:00:00,17.000000,148.000000,18.000000
50%,1.000000,2024-08-08 00:00:00,41.000000,405.000000,45.000000
75%,1.000000,2024-08-11 00:00:00,129.000000,744.000000,232.000000
max,50.000000,2024-08-14 00:00:00,80670.000000,80078.000000,142240.000000
std,1.331086,NaN,1053.891050,1112.554016,1639.776777

In [127]:
df_cleaned.dtypes

turn                             int64
language                        object
tstamp                  datetime64[ns]
is_code                           bool
is_refusal                        bool
dedup_tag                       object
category_tag                    object
month_year                   period[M]
model                           object
sum_user_tokens                  int64
sum_assistant_tokens             int64
context_tokens                   int64
dedup_tag_high_freq               bool
dedup_tag_sampled                 bool
dtype: object

In [128]:
# Convert 'tstamp' to a period with 'day' frequency (year-month-day)
df_cleaned['tstamp_period'] = df_cleaned['tstamp'].dt.to_period('D')

# Drop the original 'tstamp' column if it's no longer needed
# df_cleaned.drop('tstamp', axis=1, inplace=True)

# Display the first few rows to verify the change
df_cleaned.head()

,turn,language,tstamp,is_code,is_refusal,dedup_tag,category_tag,month_year,model,sum_user_tokens,sum_assistant_tokens,context_tokens,dedup_tag_high_freq,dedup_tag_sampled,tstamp_period
1725966,1,French,2024-08-04,False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': True, 'score': 4}, 'math_v0...",2024-08,gemma-2-2b-it,19,328,19,False,True,2024-08-04
1725967,3,English,2024-08-04,False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': True, 'score': 4}, 'math_v0...",2024-08,athene-70b-0725,51,1846,1434,False,True,2024-08-04
1725968,6,Italian,2024-08-04,False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': False, 'score': 0}, 'math_v...",2024-08,athene-70b-0725,472,3504,3396,False,True,2024-08-04
1725969,2,English,2024-08-04,False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': True, 'score': 4}, 'math_v0...",2024-08,llama-3-70b-instruct,84,1047,580,False,True,2024-08-04
1725970,1,French,2024-08-04,False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': False, 'score': 1}, 'math_v...",2024-08,gpt-4-turbo-2024-04-09,29,556,29,False,True,2024-08-04

Here, we convert the 'tstamp' column to a period with daily frequency and store it in a new column named 'tstamp_period'. Optionally, one may also drop the original column 'tstamp', if it won't be used anymore. Finally, we print a few lines of the updated DataFrame to verify.

In [129]:
df_cleaned.shape

(71695, 15)

In [130]:
df_cleaned.describe()

,turn,tstamp,sum_user_tokens,sum_assistant_tokens,context_tokens
count,71695.000000,71695,71695.000000,71695.000000,71695.000000
mean,1.318376,2024-08-08 22:08:26.847060224,247.751782,617.377725,407.912086
min,1.000000,2024-08-04 00:00:00,1.000000,1.000000,1.000000
25%,1.000000,2024-08-07 00:00:00,17.000000,148.000000,18.000000
50%,1.000000,2024-08-08 00:00:00,41.000000,405.000000,45.000000
75%,1.000000,2024-08-11 00:00:00,129.000000,744.000000,232.000000
max,50.000000,2024-08-14 00:00:00,80670.000000,80078.000000,142240.000000
std,1.331086,NaN,1053.891050,1112.554016,1639.776777

In [131]:
import pandas as pd
import ast

# If 'category_tag' is stored as a string (JSON-like format), convert it to a dictionary first
df_cleaned['category_tag'] = df_cleaned['category_tag'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

# Now extract the necessary values from 'category_tag' into separate columns
df_cleaned['information_fulfillment'] = df_cleaned['category_tag'].apply(lambda x: x['if_v0.1']['if'])
df_cleaned['Math'] = df_cleaned['category_tag'].apply(lambda x: x['math_v0.1']['math'])
df_cleaned['specificity'] = df_cleaned['category_tag'].apply(lambda x: x['criteria_v0.1']['specificity'])
df_cleaned['domain_knowledge'] = df_cleaned['category_tag'].apply(lambda x: x['criteria_v0.1']['domain_knowledge'])
df_cleaned['complexity'] = df_cleaned['category_tag'].apply(lambda x: x['criteria_v0.1']['complexity'])
df_cleaned['problem_solving'] = df_cleaned['category_tag'].apply(lambda x: x['criteria_v0.1']['problem_solving'])
df_cleaned['creativity'] = df_cleaned['category_tag'].apply(lambda x: x['criteria_v0.1']['creativity'])
df_cleaned['technical_accuracy'] = df_cleaned['category_tag'].apply(lambda x: x['criteria_v0.1']['technical_accuracy'])
df_cleaned['real_world'] = df_cleaned['category_tag'].apply(lambda x: x['criteria_v0.1']['real_world'])

# Drop the 'category_tag' column after splitting
# df_cleaned = df_cleaned.drop(columns=['category_tag'])

# Display the first few rows of the updated dataframe
df_cleaned.head()

,turn,language,tstamp,is_code,is_refusal,dedup_tag,category_tag,month_year,model,sum_user_tokens,...,tstamp_period,information_fulfillment,Math,specificity,domain_knowledge,complexity,problem_solving,creativity,technical_accuracy,real_world
1725966,1,French,2024-08-04,False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': True, 'score': 4}, 'math_v0...",2024-08,gemma-2-2b-it,19,...,2024-08-04,True,False,True,True,False,True,True,False,True
1725967,3,English,2024-08-04,False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': True, 'score': 4}, 'math_v0...",2024-08,athene-70b-0725,51,...,2024-08-04,True,False,True,True,True,True,False,True,True
1725968,6,Italian,2024-08-04,False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': False, 'score': 0}, 'math_v...",2024-08,athene-70b-0725,472,...,2024-08-04,False,False,False,True,False,True,True,True,True
1725969,2,English,2024-08-04,False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': True, 'score': 4}, 'math_v0...",2024-08,llama-3-70b-instruct,84,...,2024-08-04,True,False,True,True,False,True,False,True,True
1725970,1,French,2024-08-04,False,False,"{'high_freq': False, 'sampled': True}","{'if_v0.1': {'if': False, 'score': 1}, 'math_v...",2024-08,gpt-4-turbo-2024-04-09,29,...,2024-08-04,False,False,True,True,False,False,False,True,True

Below is the code for the same. The code below essentially converts the column 'category_tag' from a string in JSON-like format to a dictionary format using the ast.literal_eval() function. It then extracts some of these values from this dictionary into separate columns, such as 'information_fulfillment', 'Math', 'specificity', and many more. Once the extraction of these values from the dictionary is affected, the original column 'category_tag' can well be dropped and the new DataFrame returned to see the new columns.

In [132]:
df_cleaned = df_cleaned.drop(columns=['category_tag'])
df_cleaned = df_cleaned.drop(columns=['tstamp'])
df_cleaned = df_cleaned.drop(columns=['dedup_tag'])
df_cleaned = df_cleaned.drop(columns=['month_year'])

This cells  of code are used to are used to clean up the DataFrame by removing the columns category_tag, tstamp, dedup_tag, and month_year from the dataset because columns category_tag, tstamp, dedup_tag, and month_year unnecessary columns so we can  concentrate on the remaining relevant data

In [133]:
df_cleaned.head().style.hide(axis="index")

In [134]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 71695 entries, 1725966 to 1799990
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   turn                     71695 non-null  int64
 1   language                 71695 non-null  object
 2   is_code                  71695 non-null  bool
 3   is_refusal               71695 non-null  bool
 4   model                    71695 non-null  object
 5   sum_user_tokens          71695 non-null  int64
 6   sum_assistant_tokens     71695 non-null  int64
 7   context_tokens           71695 non-null  int64
 8   dedup_tag_high_freq      71695 non-null  bool
 9   dedup_tag_sampled        71695 non-null  bool
 10  tstamp_period            71695 non-null  period[D]
 11  information_fulfillment  71695 non-null  bool
 12  Math                     71695 non-null  bool
 13  specificity              71695 non-null  bool
 14  domain_knowledge         71695 non-null  bool
 15  complexity               71695 non-null  bool
 16  problem_solving          71695 non-null  bool
 17  creativity               71695 non-null  bool
 18  technical_accuracy       71695 non-null  bool
 19  real_world               71695 non-null  bool
dtypes: bool(13), int64(4), object(2), period[D](1)
memory usage: 5.3+ MB

In [135]:
df_cleaned.dtypes

turn                           int64
language                      object
is_code                         bool
is_refusal                      bool
model                         object
sum_user_tokens                int64
sum_assistant_tokens           int64
context_tokens                 int64
dedup_tag_high_freq             bool
dedup_tag_sampled               bool
tstamp_period              period[D]
information_fulfillment         bool
Math                            bool
specificity                     bool
domain_knowledge                bool
complexity                      bool
problem_solving                 bool
creativity                      bool
technical_accuracy              bool
real_world                      bool
dtype: object

In [136]:
df_cleaned.describe()

               turn  sum_user_tokens  sum_assistant_tokens  context_tokens
count  71695.000000     71695.000000          71695.000000    71695.000000
mean       1.318376       247.751782            617.377725      407.912086
std        1.331086      1053.891050           1112.554016     1639.776777
min        1.000000         1.000000              1.000000        1.000000
25%        1.000000        17.000000            148.000000       18.000000
50%        1.000000        41.000000            405.000000       45.000000
75%        1.000000       129.000000            744.000000      232.000000
max       50.000000     80670.000000          80078.000000   142240.000000

In [138]:
df_cleaned.shape

(71695, 20)

In [137]:
df_cleaned.to_csv("battles_data_cleaned.csv", index=False)

This is the step in which we are going to save our cleaned DataFrame-which is df_cleaned-into a CSV file named "battles_data_cleaned.csv". The index=False just makes sure that the index from the DataFrame will not appear in the file that will be saved, thus keeping things clean for future use.